@page "/Account/RegisterConfirmation"
@inject NavigationManager NavigationManager
@* @inject IdentityRedirectManager RedirectManager *@

<PageTitle>Registration confirmation</PageTitle>

<h2>Registration confirmation</h2>
<hr/>
<p>Please check your email to confirm your account.</p>

@code {

    [SupplyParameterFromQuery] private string? Email { get; set; }

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (Email is null)
        {
            // RedirectManager.RedirectTo("");
            NavigationManager.NavigateTo("/");
        }
        return Task.CompletedTask;
    }

}