@page "/Account/Manage/ChangePassword"
@using Net9Auth.BlazorWasm.Services.Authentication.ChangePassword
@using Net9Auth.Shared.Models.Authentication.ChangePassword
@inject IUserHasPasswordService UserHasPasswordService
@inject IChangePasswordService ChangePasswordService


<PageTitle>Change password</PageTitle>

<h3>Change password</h3>
<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" FormName="change-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <StatusMessage Message="@_message" />
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText id="idOldPassword" type="password" @bind-Value="Input.CurrentPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label for="idOldPassword" class="form-label">Current password</label>
                <ValidationMessage For="() => Input.CurrentPassword" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText id="idNewPassword" type="password" @bind-Value="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label for="idNewPassword" class="form-label">New password</label>
                <ValidationMessage For="() => Input.NewPassword" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText id="idConfirmPassword" type="password" @bind-Value="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                <label for="idConfirmPassword" class="form-label">Confirm new password</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </EditForm>
    </div>
</div>

@code {
    private string? _message;

    [SupplyParameterFromForm]
    private ChangePasswordInputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var result = await UserHasPasswordService.UserHasPasswordAsync();
        if (!result.Succeeded || !result.UserHasPassword){
            // TODO  RedirectManager.RedirectTo("Account/Manage/SetPassword");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var changePasswordResult = await ChangePasswordService.ChangePasswordAsync(Input);
        if (changePasswordResult.Succeeded)
        {
            _message= "Your password has been changed";
            return;
        }
        _message= $"Error: {string.Join(",", changePasswordResult.Errors?.Select(error => error.Description) ?? new List<string>())}";
    }
}
