@page "/Account/ForgotPassword"
@using Net9Auth.BlazorWasm.Services.Authentication.ForgotPassword
@using Net9Auth.Shared.Models.Authentication.ForgotPassword
@inject NavigationManager NavigationManager
@inject IForgotPasswordService ForgotPasswordService

<PageTitle>Forgot your password?</PageTitle>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger" role="alert"/>
            <h2>Forgot your password?</h2>
            <hr/>
            <div class="form-floating mb-3">
                <InputText id="email" @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label for="email" class="form-label">Enter your email...</label>
                <ValidationMessage For="() => Input.Email" class="text-danger"/>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset password</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm] private ForgotPasswordInputModel Input { get; set; } = new();

    private async Task OnValidSubmitAsync()
    {
        var result = await ForgotPasswordService.AskPasswordResetAsync(Input);
        if (result.Succeeded)
        {
            NavigationManager.NavigateTo("/Account/ForgotPasswordConfirmation");
        }
        else
        {
            // Don't reveal that the user does not exist or is not confirmed
            NavigationManager.NavigateTo("/Account/ForgotPasswordConfirmation");
        }
    }

}