@using Net9Auth.BlazorWasm.Services.ApiKeys
@using Net9Auth.Shared.Models.ApiKeys
<EditForm Model="Model" OnValidSubmit="CreateApiKeyAsync" FormName="Starship3">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="row g-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Create API Key</button>
        </div>
        <div class="col-auto">
            <label for="purpose" class="visually-hidden">Purpose</label>
            <input type="text" readonly class="form-control-plaintext" id="purpose" value="Select a purpose">
        </div>
        <div class="col-auto">
            <select class="form-select" id="purposeSelect" @bind="Model!.Purpose">
                <option value="exception-logging">Exception Logging</option>
                <option value="another-purpose">Another Purpose</option>
            </select>
        </div>
        <div class="col-auto">
            <label for="purpose" class="visually-hidden">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="email" value="Email">
        </div>
    </div>
</EditForm>


@if (ApiKey != null)
{
    <div class="row g-3">
        <div class="col-auto">
            <button class="btn btn-primary mb-3" @onclick="CopyApiKey">Copy API Key</button>
        </div>
        <div class="col-auto">
            <label for="apiKey" class="visually-hidden">ApiKey</label>
            <textarea name="apiKey" id="apiKey" cols="84" rows="1" @bind="ApiKey"></textarea>
        </div>
    </div>
    
}





